// COLOR VARIABLES
$color-primary: #74b9ff;
$color-primary-dark: #0984e3;

$color-secondary: #6c5ce7;

$color-grey-light-1:#dfe6e9;
$color-grey-light-2: #b2bec3;

$color-grey-dark-1: #636e72;
$color-grey-dark-2: #2d3436;

// FONT VARIABLES
$font-primary: 'Nunito',
sans-serif;
$font-display: 'Josefin Sans',
sans-serif;